<table class="table table-hover mt-5">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Litre</th>
            <th scope="col">Price</th>
            <th scope="col">End KM</th>
        </tr>
    </thead>
    <tbody>
        {{#each records}}
        <tr>
            <th scope="row">{{moment date "ddd, MMM D"}}</th>
            <td>{{litres}}</td>
            <td>{{amount}}</td>
            <td>{{endkm}}</td>
        </tr>
        {{else}}
        <p>No Records Yet</p>
        {{/each}}
    </tbody>
</table>